<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xichu.data_interface.dao.DataReceiveDao">
	<insert id="saveData" parameterType="com.xichu.data_interface.bean.DataReceiveBean" useGeneratedKeys="true" keyProperty="id">
		insert into data_receive(
			userid,
			username,
			orgid,
			meter_code,
			counter_num,
			from_time,
			to_time,
			qrcode_url,
			data
		)
		values (
			#{userid,jdbcType=VARCHAR},
			#{username,jdbcType=VARCHAR},
			#{orgid,jdbcType=VARCHAR},
			#{meterCode,jdbcType=VARCHAR},
			#{counterNum,jdbcType=VARCHAR},
			#{fromTime,jdbcType=VARCHAR},
			#{toTime,jdbcType=VARCHAR},
			#{qrcodeUrl,jdbcType=VARCHAR},
			#{data,jdbcType=VARCHAR}
		)
	</insert>
</mapper>